@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 glow">Welcome to DevShop</h1>

    <div class="carousel">
        <li class="carousel-item"></li>
        <li class="carousel-item"></li>
        <li class="carousel-item"></li>
        <li class="carousel-item"></li>
        <li class="carousel-item"></li>
    </div>
</div>
